div.header {
  height: calc(100vh - 56px);
  background-color: white;
  background-image: linear-gradient(-3deg, #c7fbe2 0%, #9f95da 100%);
}

div.header > div:first-child {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div.header > div:first-child h1,
p {
  text-align: center;
}
